<tr>
    <td>{{title}}</td>
    <td>{{publisher}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>{{datePublished}}</td>
    <td>
        {{#if isEditableAd}}
        <button onclick="deleteAd('{{_id}}')">Delete</button>
        <button onclick="editAdvert('{{_id}}')">Edit</button>
        {{/if}}
    </td>
</tr>